@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root {
    --dark-02: #424247;
    --title-font-size-mobile: 20px;
    --desc-font-size-mobile: 14px;
}

* {
    font-family: 'Mulish', sans-serif;
    max-width: 73.125rem;
    margin: 0 auto;
    /* border: 1px solid black; */
    /* border for testing the line and size */
}

.primary-btn {
    background: #FF5400;
    padding: 1rem 2.2rem 1rem 2.2rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.primary-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.primary-desc {
    margin-top: 1.5rem;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* -------------------------- */





header {
    margin-top: 3.125rem;
}

nav {
    display: flex;
    gap: 18.75rem;
    align-items: center;
}

.mk-travel {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
    display: flex;
}

.mk {
    color: #131318;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: var(--Dark-02);
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 44px;
}

nav .home {
    color: #FF5400;
    font-weight: 700;

}

/* style for banner ---------------- */
header form {
    margin-top: 45px;
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

header form select,
input {
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    height: 3.25rem;
    width: 10.8rem;
    border-radius: 8px;
    padding-left: .95rem;
    border: none;
    outline: none;
    cursor: pointer;

}

.banner {
    margin-top: 3.125rem;
    padding: 0 10rem;
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Resources/Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    height: 31.25rem;
    border-radius: 16px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-desc {
    margin-top: 1.5rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/* banner Section done */


/* styles for safety section */
.safety {
    margin-top: 100px;
    display: flex;
    gap: 50px;

}

.safety-content {
    margin-top: 5px;
    width: 36rem;
}

.safety button {
    margin-top: 24px;
}

/* safety section done */
/* style for destination box section----------------------- */
.destination {
    margin-top: 100px;
}

.destination p {
    text-align: center;
    width: 643px;

}

.image-gallery {
    margin-top: 48px;
}

.destination span {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.box1 {
    width: 573px;
    height: 300px;
    background: url("Resources/Images/Rectangle\ 5.png");
}

.box2 {
    width: 573px;
    height: 300px;
    background: url("Resources/Images/Rectangle\ 8.png");
}

.box3 {
    width: 374px;
    height: 286px;
    background: url("Resources/Images/Rectangle\ 6.png");
}

.box4 {
    width: 474px;
    height: 286px;
    background: url("Resources/Images/Rectangle\ 7.png");
}

.box5 {
    width: 274px;
    height: 286px;
    background: url("Resources/Images/Rectangle\ 9.png");
}

.box6 {
    width: 473px;
    height: 300px;
    background: url("Resources/Images/Rectangle\ 11.png");
}

.box7 {
    width: 673px;
    height: 300px;
    background: url(Resources/Images/Rectangle\ 10.png);
}

.grid {
    margin-top: 1.5rem;
    display: flex;
    gap: 24px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* box section donne */






/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width:600px) {
    * {
        padding: 0;
        margin: 0;
        /* border: 1px solid red; */ 
        /* border for testing the line and size */

    }

    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        display: none;
    }

    .banner {
        max-width: 335px;
        background-size: cover;
        background-position: center;
        padding: 0 20px;
        align-items: normal;
    }

    .banner-content {
        margin-top: 30px;
    }

    .banner-title {
        font-size: 22px;
        font-weight: 800;
    }

    .banner-desc {
        font-size: 14px;
        margin-top: 10px;
    }

    header form {
        margin-top: 10px;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        gap: 16px;
    }

    header form select {
        width: 255px;
    }

    header form input {
        width: 240px;
    }

    .primary-btn {
        width: 255px;
        margin: 0 auto;
    }

    /* @@@@@@@@@@@@@@@@@@@@-banner section done@@@@@@@@@@@@@@@@@@@@@ */
    /* style for safety tips section */
    .safety {
        margin-top: 24px;
        flex-direction: column;
        gap: 24px;
    }
.safety button{
    margin-left: 2rem;
}
.safety .primary-title{
    text-align: center;
}
    .primary-title {
        font-size: var(--title-font-size-mobile);
    }

    .primary-desc {
        font-size: var(--desc-font-size-mobile);
    }

    .safety-content {
        max-width: 335px;
        padding: 0 20px;
    }

    .safety img {
        height: 342px;
        width: 335px;
        margin-left: 1.2rem;
    }

    .destination .primary-title{
        font-size: var(--title-font-size-mobile);
        width: 335px;
        padding: 0 20px;
    }
    .destination .primary-desc{
        font-size: var(--desc-font-size-mobile);
        width: 335px;
        padding: 0 20px;
    }

.grid{
    flex-direction: column;
}
.center{
    height: 176px;
    width: 335px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1.2rem;
}

}